# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# uma_plugin 特有的自动生成的文件，防止git pull异常
# 每个都单独写出来了，方便弄乱时排错

# 根目录下的插件属性配置文件
/properties.json
/proxy.json
/version.json

# 所有文件夹下自动生成的data文件夹
data/*

# uma_compatibility文件夹下自动生成的相性组文件
/uma_compatibility/relation_type.json

# uma_info文件夹下的全部角色的基础数据文件
/uma_info/config_v2.json

# umamusume_news文件夹下的记录最新时间的文件和转发模式保存文件
/umamusume_news/prev_time.yml
/umamusume_news/prev_time_tw.yml
/umamusume_news/prev_time_bili.yml
/umamusume_news/mode.txt

# uma_face文件夹下的自动生成的表情包配置文件
/uma_face/img_config.json

# uma_comic文件夹下的自动生成的漫画配置文件
/uma_comic/comic_config_v2.json

# uma_support_chart文件夹下的自动生成的节奏榜配置文件
/uma_support_chart/sup_config.json
/uma_support_chart/sup_config_tw.json

# uma_tasks文件夹下的自动生成的马娘限时任务信息文件
/uma_tasks/tasks_config.json

# uma_skills文件夹下的自动生成的马娘技能信息文件
/uma_skills/skills_config.json

# IDEA/Pycharm
.idea/*

# 抽卡目标
/uma_gacha_v2/gacha_target.json